<div class="home" ng-controller="adminHomeController">
  <center>
    <br><br>
      <div class="bar">
      <nav class="nav">
        <ul class="nav">
          <li class="nav">
            <a class="nav" ng-click="goToAdminSignin()"><img src="css/webpics/iconout.png" width="19">SIGN OUT</a>
          </li>
        </ul>
      </nav>
    </div><br>
    <p class="synonym">SATISFACTION / CONTENTMENT / GRATIFICATION / FULFILLMENT</p>
      <div class="title">SENTIMENT ANALYZER</div>
      <div class="inglass">
        <p class="abouttext">
            <b>REFERS TO THE USE OF NATURAL LANGUAGE PROCESSING, TEXT ANALYSIS, COMPUTATIONAL
            LINGUISTICS, AND BIOMETRICS TO SYSTEMATICALLY IDENTIFY, EXTRACT, QUANTIFY, AND STUDY AFFECTIVE
            STATES AND SUBJECTIVE INFORMATION.</b><br><br>
            SENTIMENT ANALYSIS IS WIDELY APPLIED TO VOICE OF THE CUSTOMER MATERIALS SUCH AS REVIEWS
            AND SURVEY RESPONSES, ONLINE AND SOCIAL MEDIA, AND HEALTHCARE MATERIALS FOR APPLICATIONS THAT
            RANGE FROM MARKETING TO CUSTOMER SERVICE TO CLINICAL MEDICINE.<br><br>
            GENERALLY SPEAKING, SENTIMENT ANALYSIS AIMS TO DETERMINE THE ATTITUDE OF A
            SPEAKER, WRITER, OR OTHER SUBJECT WITH RESPECT TO SOME TOPIC OR THE OVERALL CONTEXTUAL POLARITY OR
            EMOTIONAL REACTION TO A DOCUMENT, INTERACTION, OR EVENT. THE ATTITUDE MAY BE A JUDGMENT OR
            EVALUATION, AFFECTIVE STATE, OR THE INTENDED EMOTIONAL COMMUNICATION.<br><br>
            USER-GENERATED REVIEWS ARE AN INEVITABLE PART OF ANY BUSINESS IN THIS DAY AND AGE.
            BUT, REVIEWS OFFER SO MUCH MORE THAN A HEADACHE AND BIASED OPINIONS.
            IF YOU TAKE A DEEPER LOOK AT WHAT YOUR GUESTS WRITE ABOUT YOU, YOU’LL GAIN INVALUABLE INSIGHT.
            AS ALWAYS, A PROACTIVE APPROACH TO YOUR REVIEWS IS ALWAYS BENEFICIAL IN THE LONG RUN.
            IF YOU KEEP A CLOSE ON YOUR REVIEWS, YOU’LL BE ABLE TO SPOT TRENDS FASTER AND MAKE MORE MEANINGFUL CHANGES TO YOUR PROPERTY.<br><br>
            A SENTIMENT ANALYSIS WILL HELP TAKE SOME OF THE MYSTERY OUT OF REVIEWS.
            THE GOAL IS TO SEE WHAT YOU’RE DOING WELL AND IDENTIFY AREAS WHERE YOU CAN IMPROVE.
            ALTHOUGH GUEST REVIEWS WILL CONTINUE TO HAVE BIAS, IT’S EASIER TO SPOT WHEN YOU’RE ANALYZING A REVIEW LINE BY LINE.
            WE’LL WALK THROUGH HOW TO CONDUCT A SIMPLE SENTIMENT ANALYSIS AND WHAT YOU SHOULD DO WITH THE INFO, NEXT.
      </div><br><br><br><br>
      <button class="homeindex" ng-click="goToReviewsnResult()"><b>SHOW RESULTS</b></button>
      <button class="homeindex" ng-click="goToSummary()"><b>SHOW SUMMARY</b></button><br>
  </center>
</div>