<div class="create" ng-controller="summaryController">
    <img class="logoreviewer" src="css/webpics/iconstart.png" width="30">
    <div class="logreviewer">LOGGED AS ADMIN</div>
    <div class="bar">
      <nav class="nav">
        <ul class="nav">
            <li class="nav">
              <a class="nav" ng-click="goToReviewsnResult()"><img src="css/webpics/reading.png" width="19">REVIEWS</a>
          </li>
          <li class="nav">
            <a class="nav" ng-click="goToAdminSignin()"><img src="css/webpics/iconout.png" width="19">SIGN OUT</a>
          </li>
        </ul>
      </nav>
    </div><br><br><br><br><br>

    <div class="reviewlist2">

        <p class="createtext" ng-show="category=='Wonder Woman'">
            <img src="css/webpics/ww.png" style="width:20%; position:absolute; top:50px; left: 490px;" class="image"><button style="float: right; margin-left: 10px" class="createshow" ng-click="back()">CHANGE MOVIE</button>
            <!--<button style="float: right;" class="createshow" ng-click="showSummary()"><b>SHOW SUMMARY</b></button>-->
            <br><br>
            <div ng-hide="category !='Wonder Woman'">
                <div class="myChart">
                    <canvas id="myChart" ></canvas>
                </div>
               <div class="myChart2">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </p>
        <p class="createtext" ng-show="category=='Deadpool'">
            <img src="css/webpics/dpool.png" style="width:10%; position:absolute; top:30px; left: 550px;" class="image"><button style="float: right; margin-left: 10px" class="createshow" ng-click="back()">CHANGE MOVIE</button>
            <!--<button style="float: right;" class="createshow" ng-click="showSummary()"><b>SHOW SUMMARY</b></button>-->
            <br><br>
            <div ng-hide="category !='Deadpool'">
                <div class="myChart">
                    <canvas id="myChart3" ></canvas>
                </div>
               <div class="myChart2">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
            </span>
        </p>
        <p class="createtext" ng-show="category=='Doctor Strange'">
            <img src="css/webpics/drstrange.png" style="width:20%; position:absolute; top:85px; left: 490px;" class="image"><button style="float: right; margin-left: 10px" class="createshow" ng-click="back()">CHANGE MOVIE</button>
            <!--<button style="float: right;" class="createshow" ng-click="showSummary()"><b>SHOW SUMMARY</b>-->
            </button><br><br>
            <div ng-hide="category !='Doctor Strange'">
                <div class="myChart">
                    <canvas id="myChart5" ></canvas>
                </div>
               <div class="myChart2">
                    <canvas id="myChart6"></canvas>
                </div>
            </div>
            </span>

        </p>
        <p class="createtext" ng-hide="category =='Wonder Woman' || category == 'Doctor Strange' || category == 'Deadpool'">
            <b>MOVIES</b><br><br>

            <div style="position:absolute" ng-hide="category =='Wonder Woman' || category == 'Doctor Strange' || category == 'Deadpool'">
                <div id="firstPart">
                    <a href="" ng-click="setMovies('Wonder Woman')">  <img src="css/webpics/page1.jpg" width="55%" class="image"> </a>
                    <br><p class="movieRatings">RATING: <b>{{movie1Ratings}}%</b> </p>
                </div>
                <div id="secondPart">
                    <a href="" ng-click="setMovies('Deadpool')">   <img src="css/webpics/page2.jpg" width="55%" class="image"> </a>
                    <br><p class="movieRatings">RATING: <b>{{movie2Ratings}}% </b></p>
                </div>
                <div id="thirdPart">
                    <a href="" ng-click="setMovies('Doctor Strange')">  <img src="css/webpics/page3.jpg" width="55%" class="image"> </a>
                    <br><p class="movieRatings">RATING: <b>{{movie3Ratings}}% </b></p>
                </div>
            </div>
        </p>

    </div>
    <br>

</div>